*
{
	box-sizing: border-box;
}

body
{
	font-family: Arial;
	font-size: 15px;
	margin: 0;
}

h1
{
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 5px #993399;
}

#menu
{
	padding-top: 15px;
}

.section
{
	border: 1px black solid;
	background-color: #99ccff;
	/*position: relative;*/
	/*min-height: 200px;*/
	/*box-sizing: border-box;*/
	/*min-width: 300px;*/
	/*margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;*/
	margin: 15px;
	overflow: auto;
}

.meal
{
	/*border: 2px black solid;
	background-color: #99ff66;
	float: left;
	box-sizing: border-box;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;*/
}

.name
{
	/*display: inline-block;*/
	padding: 5px;
	width: 100px;
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	/*position: absolute;
	right: -1px;
	top: 12px;*/
	float: right;
	font-weight: bold;
}

.describe
{
	float: right;
	margin: 15px;
	text-align: justify;
}

#chicken
{
	background-color: #ff6600;
	
}

#chicken:hover
{
	background-color: #ff9933;
	cursor: pointer;
}

#beef
{
	background-color: #ff00ff;
}

#beef:hover
{
	background-color: #ff66ff;
	cursor: pointer;
}

#sushi
{
	background-color: #669999;
}

#sushi:hover
{
	background-color: #339966;
	cursor: pointer;
}


@media (min-width: 992px)
{
	.col-lg-4
	{
		float: left;
		width: 33.33%;
	}
}