*
{
    box-sizing: border-box;
}

body
{
    background-color: #cce6ff;
    font-family: Arial;
    font-size: 15px;
}


/*NAVBAR*/
#header-nav
{
    background-color: #ff1a1a;
    border-radius: 0;
}

.navbar-brand h1
{
    color: #fff;
    margin-top: -10px;
    padding: 0;
}

.navbar-brand a:hover, .navbar-brand a:active, .navbar-brand a:disabled, .section a:hover, .section a:active, .section a:disabled
{
    text-decoration: none;
}

#collapse-nav li
{
    color: #fff;
    border: 1px #fff solid;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px;
    font-weight: bold;
}
/*END OF NAVBAR*/

/*BODY*/
.dish
{
    margin-top: 15px;
}

.section
{
    background-color: #99ff99;
    padding:15px;
    border: 10px red double;
}

.section>h2
{
    margin-top: 0px;
}

h2
{
    font-weight: bold;
    text-shadow: 0 0 5px #3399ff;
}
/*END OF BODY*/