*
{
    box-sizing: border-box;
}

body
{
    background-color: #cce6ff;
    font-family: Arial;
    font-size: 15px;
}

#header-nav
{
    background-color: #ff1a1a;
    border-radius: 0;
}

.navbar-brand h1
{
    color: #fff;
    margin-top: -10px;
    padding: 0;
}

.navbar-brand a:hover, .navbar-brand a:active, .navbar-brand a:disabled
{
    text-decoration: none;
}

#collapse-nav li
{
    border: 1px yellow solid;
}